.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/feelbelt_front_light_shadow.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 608px;
}

.u-section-1 .u-group-1 {
  width: 693px;
  min-height: 532px;
  height: auto;
  margin: 57px auto 57px 0;
}

.u-section-1 .u-image-1 {
  width: 265px;
  height: 29px;
  margin: 0 418px 0 10px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 204px 20px 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    width: 209px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-1 .u-group-1 {
    width: 580px;
    min-height: 573px;
  }

  .u-section-1 .u-image-1 {
    width: 227px;
    margin-top: 99px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-1 .u-group-1 {
    width: 526px;
    min-height: 652px;
  }

  .u-section-1 .u-image-1 {
    width: 214px;
    margin-top: 15px;
    margin-right: 275px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 307px;
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 9px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-1 .u-group-1 {
    width: 346px;
    min-height: 834px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 192px;
    margin-top: 118px;
    margin-right: 75px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 6px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
    margin-left: 9px;
  }
}.u-section-2 {
  background-image: url("images/feelbelt-series-one-low-res-16.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 860px;
}

.u-section-2 .u-group-1 {
  width: 470px;
  min-height: 445px;
  margin: 205px 0 210px auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 16px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 36px 16px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 16px 42px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  margin: 11px 76px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 16px 76px 36px 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 500px;
    background-position: 50% 50%;
    background-size: 135%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-2 .u-group-1 {
    width: 388px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 35px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 63px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 0;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-2 .u-group-1 {
    width: 371px;
    min-height: 618px;
    margin-bottom: 25px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-right: 84px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-right: 101px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-right: 48px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-right: 122px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 500px;
  }

  .u-section-2 .u-group-1 {
    width: 278px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 7px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 7px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 36px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 234px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 5px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 5px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 23px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 23px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1033px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 339px;
}

.u-section-4 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
}

.u-section-4 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 3rem;
}

.u-section-4 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
  font-style: italic;
}

.u-section-4 .u-btn-1 {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  background-image: none;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 339px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/feelbelt-series-one-low-res-15.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 475px;
}

.u-section-4 .u-image-2 {
  height: 261px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-family: lora;
  margin: 35px 20px 0;
}

.u-section-4 .u-text-5 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 5px 20px 0;
}

.u-section-4 .u-link-1 {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 700;
  margin: 37px auto 27px 20px;
}

.u-section-4 .u-layout-cell-4 {
  background-image: none;
  min-height: 475px;
}

.u-section-4 .u-image-3 {
  height: 261px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-family: lora;
  margin: 35px 20px 0;
}

.u-section-4 .u-text-7 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 5px 20px 0;
}

.u-section-4 .u-link-2 {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 700;
  margin: 13px auto 0 20px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 475px;
}

.u-section-4 .u-image-4 {
  height: 261px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-family: lora;
  margin: 35px 20px 0;
}

.u-section-4 .u-text-9 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 5px 20px 0;
}

.u-section-4 .u-link-3 {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 700;
  margin: 13px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 16px;
  }

  .u-section-4 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-7 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-link-2 {
    width: 59px;
    height: 22px;
    margin-left: 16px;
  }

  .u-section-4 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-9 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-link-3 {
    width: 59px;
    height: 22px;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-link-2 {
    width: 45px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-link-3 {
    width: 45px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-link-2 {
    width: 42px;
    margin-left: 9px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-link-3 {
    width: 42px;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 6px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-link-2 {
    width: 35px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-link-3 {
    width: 35px;
    margin-left: 6px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/feelbelt-series-one-low-res-09.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 493px;
}

.u-section-5 .u-group-1 {
  width: 470px;
  min-height: 448px;
  margin: 24px 0 24px auto;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 36px 16px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 16px 42px 0 0;
}

.u-section-5 .u-text-3 {
  font-style: italic;
  margin: 16px 0 36px;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 500px;
  }

  .u-section-5 .u-group-1 {
    width: 388px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 0;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-5 .u-group-1 {
    width: 349px;
    min-height: 557px;
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 27px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 500px;
  }

  .u-section-5 .u-group-1 {
    width: 278px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-right: 7px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 234px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 5px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 13px;
  }
}.u-section-6 {
  background-image: url("images/feelbelt-series-one-low-res-091.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 535px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 211px;
  }
}